<nav class="navbar navbar-expand-lg" style="background-color: #10a83c;">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="">Mira Nuevas Recetas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Publica Tus Propias Recetas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Agrega Recetas</a></li>
              <li><a class="dropdown-item" href="#">Ver Tus Recetas</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
            <a class="btn btn-outline-light me-2">Iniciar Sesion</a>
            <a class="btn btn-outline-light" href="{% url 'registrarse' %}">Registrate</a>
        </form>
      </div>
    </div>
  </nav>